.beer-card {
  display: flex;
  text-decoration: none;
  color: black;
}

.beer-img {
  margin-right: 20px;
}

.beer-img img {
  height: 10em;
  max-width: 6em;
  align-self: center;
}

.beer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 20em;
}

.beer-info-tagline {
  color: grey;
}
